a {
text-decoration: none;
color: rgb(236,231,227);
font-family:Verdana, Geneva, Tahoma, sans-serif

}

.headlink {
margin-left: 10vh;

}

body {
font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    padding: 0;
    color: rgb(236,231,227);
    background-color: rgb(33, 44, 85);
}



header {
padding: 20px;
background-color: rgb(29, 39, 79);
width: 100%;
margin: auto;
position:relative;
text-align: left;
top: 0px;
left: 0px;

}

.middle {
  margin: auto;
  float: left;
    min-height: 75vh;
    margin-left: 20%;
    border:1px solid black;
    margin-top: 10px;
    width: 15%;



}

.middle2 {
    margin: auto;
    min-height: 75vh;
    margin-left: 10%;
    border:1px solid black;
    margin-top: 10px;
    width: 15%;
    float: left;



}


.middle3 {

    margin: auto;
    min-height: 75vh;
    margin-left: 10%;
    border:1px solid black;
    margin-top: 10px;
   width: 15%;
    float: left;


    
}



.bild {
margin-left: 70%;
margin-top: 5%;



}



footer {
    position:absolute;
    bottom: 0px;
    padding: 20px;
    background-color: rgb(29, 39, 79);
    width: 100%;
    margin: auto;
    left: 0px;
}

.header1 {

margin-left: 10vh;

}

.headlink2 {
margin-left: 10vh;

}
